@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f4;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e0e0e0;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 35ch; /* Full text is typed out */
  }
  80% {
    width: 35ch; /* Pause after typing */
  }
  100% {
    width: 0; /* Backspace to empty */
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 0.7s infinite;
}


.dark-orange-link {
  color: rgb(131, 72, 0); /* Sets the text color to dark orange */
  text-decoration: none; /* Removes underline from the link */
}

.dark-orange-link:hover {
  text-decoration: underline; /* Adds underline when hovering */
}

/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.8) rgba(204, 204, 204, 0.2);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(223, 223, 223, 0.2);
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 83%, 0.8);
  border-radius: 6px;
  border: 3px solid rgba(214, 214, 214, 0.2);
}


